**

!Cargo.toml
!Cargo.lock

!crates/
!crates/**

!tools/
!tools/**

!docker/
!docker/**

!deploy/
!deploy/containers/
!deploy/containers/**

deploy/secrets/**
**/target/**
**/*.dna
**/*.happ
**/*.wasm
